.bg-img{
    background-image: url(./images/img.jpg);
    width: 100%;
    height: 100vh;
    filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-item a:hover{
    background-color: gold !important;
    border-radius: 3px !important;
}
.navbar-inverse{
    position: absolute ;
    width: 100%;
    background-color: transparent !important;
    top:10px;

}
.p-abs{
    position: absolute !important;
    top: 10px !important;
}
.golden-line{
    width: 100%;
    height: 1vh;
    background-color: #FFDF01;
}
.golden{
    background-color: #fedc00de;
}
.golden1{
    background-color: #ffdd00;
}
.gold{
    background-color:gold !important;
}
.line-break{
    line-break: anywhere;
}
.form-center{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
.f-30{
    font-size: 30px !important;
}
.f-10{
    font-size: 10px !important;
}
.bg-color{
    background-color: #191b27;
}
.iphone{
    /* bottom: 35%; */
    bottom: calc(35% - 100px);
    position: absolute;
    /* background-size: cover; */
    /* top: 9px; */
    /* left: 50%; */
    /* transform: translate(0, -10%); */
}
.flexible{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon{
    font-size: 45px !important;
    color:gold;
    margin-right: 15px;
}
.icon-1{
    font-size: 55px !important;
    color:gold;
    margin-right: 15px;
}
.f-family{
    font-family: 'Times New Roman', Times, serif !important;

}
.person-img{
    width: 50%;
    height: auto;
}
.border-dark{
    border: 7px solid black;
}
.bg-laptop{
    background-image: url(./images/laptop.png);
    width: 100%;
    height: auto;

}
.lap-abs{
    /* position: absolute; */
    z-index: 1111;
    width: auto;
    height: auto;
    left: 36%;
    bottom: -7px;
}
.golden1:nth-child(2) { 
    background-color:white;
  }
  .btn-download{
    color: white !important;
    background-color: black !important;
  }
  /* .lap_p{
    position: absolute;
    right: 0;
    left: -210px;
    top: -85px;
    z-index: 1111;
    overflow-x: hidden;
  } */
  .bg-img1{
    background-image: url(./images/earth2.jpg);
    width: 100%;
    height: 100vh;
    filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-color1{
      background-color: #10141e;
  }
  .bg-color2{
    background-color: #010308;
  }
  .list-footer{
      justify-content: space-evenly;
  }
  .input-setting{
    background: transparent !important;
    color: white;
    
  }
  @media screen and (min-width:1140px){
    .lap-abs{
        position: absolute;
    }
}
  @media screen and (min-width:767px){
      .form-section{
        position: absolute;
        margin-top: .3rem;
        margin-left: -1.25rem;
      }
  }  
    @media screen and (min-width:1023px){
        .form-section1{
            top: 50%;
            left: 50%;
            transform: translate(-45%, 50%);
        }        
    }

/* .iphone-img{

    background-image: url(./images/iphone.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
} */
